/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 *
 * ================
 *   Form Styling
 * ================
 *
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 *
 *  1) General Styling
 *  2) Alternative Styling
 *  3) Placeholders
 *  4) Filedsets
 *  5) Checkboxes
 *  6) Radio Buttons
 *  7) Form Grid
 *  8) Inline Labels
 *  -- External
 *  9) MiniColors
 * 10) Chosen
 */

/* ==================================================
 * 1) General Styling
 * ================================================== */
input [type=text]{
    height:16px;    
}
 input, textarea {
	background: #fff;
	display: block;
	margin: 7px 0 0 0;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	padding: 5px 0;
	width: 400px;    
	/* Inset shadow */
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
	-moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
	box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
        text-align:right !important;
}

.input {
	margin: 10px 0;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
	border: 1px solid #a3a3a3;
}

input:active, input:focus, textarea:active, textarea:focus  {
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
	-moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
	box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
        text-align:right !important;
}

label, .label, .chzn-container {
    display: block;
   /* margin-bottom: 1px;*/
}

.chzn-container {
	margin-top: 5px;
}

input.error, textarea.error {
	box-shadow: none;
	border-radius: 5px 5px 0 0;
	border: 1px solid #870d0d;
	margin-bottom: 0;
}

label.error.red {
	position: relative;
	top: -1px;
	padding: 5px 5px 5px 10px;
	margin: 0 0 10px 0;
	display: block;
	border-radius: 0 0 5px 5px;
	border: 1px solid #870d0d;
	/* The red gradient + white inset shadow*/
	background: url(../img/sprites/forms/bg-error.png) repeat-x #b13636;
        text-align:right;
}

/* ==================================================
 * 2) Alternative Style
 * ================================================== */

form .section {
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #fff;
	margin: 0;
	width: 100%;
	/* The gradient */
	background: rgb(246,246,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
	background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

form .section:last-child {
	border-bottom: none;
}

form .section > label, form .section > .label {
	margin-top: 12px;
	margin-right: 10px;
	float: right;
        padding-right: 5px;
	width: 16%;
}

form .section > div {
	border-right: 1px solid #E7E7E7;
	float: right;
	width: 75%;
	padding: 0 1%;
	padding-left: 10px;
}/* ==================================================
 * 3) Placeholders
 * ================================================== */

::-webkit-input-placeholder {
	margin-left: 5px;
}

/* ==================================================
 * 4) Fieldsets
 * ================================================== */

form fieldset {
	border: 1px solid #d2d2d2;
	border-radius: 3px 3px 3px 3px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

form fieldset p.inline-label, form fieldset p.inline-medium-label, form fieldset p.inline-small-label {
	padding-right: 0;
}

form fieldset legend {
	background: url(../img/sprites/forms/bg-legend.png) repeat-x scroll top left #dcdcdc;
	padding: 5px 10px;
	line-height: 16px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	border-radius: 5px 5px 5px 5px;
}

/* ==================================================
 * 5) Checkboxes
 * ================================================== */
.checkbox {
       margin-left: 10px;
       width: auto;
       box-shadow: none;
       float:none;
}

.checkbox img {
	height: 18px;
	width: 18px;
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/normal.png) no-repeat;
        margin-top:6px;
}

/* Unchecked */

.checkbox-hover img {
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/hover.png) no-repeat;
}

.checkbox-disabled img {
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/disabled.png) no-repeat;
}

.checkbox-clicked img {
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/clicked.png) no-repeat !important;
}

/* Checked */
.checkbox-checked img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/normal.png) no-repeat;
}

.checkbox-checked .checkbox-hover img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/hover.png) no-repeat;
}

.checkbox-checked .checkbox-clicked img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/clicked.png) no-repeat !important;
}

.checkbox-checked .checkbox-disabled img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/disabled.png) no-repeat;
}

/* ==================================================
 * 6) Radio Buttons
 * ================================================== */

.radio-button {
	margin-right: 10px;
	width: auto;
	box-shadow: none;
}

.radio-button img {
	height: 18px;
	width: 18px;
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/normal.png) no-repeat;
}

/* Unchecked */
.radio-button-hover img {
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/hover.png) no-repeat;
}

.radio-button-disabled img {
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/disabled.png) no-repeat;
}

.radio-button-clicked img {
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/clicked.png) no-repeat !important;
}

/* Checked */
.radio-button-checked img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/normal.png) no-repeat;
}

.radio-button-checked .radio-button-hover img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/hover.png) no-repeat;
}

.radio-button-checked .radio-button-clicked img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/clicked.png) no-repeat !important;
}

.radio-button-checked .radio-button-disabled img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/disabled.png) no-repeat;
}

/* ==================================================
 * 7) Form Grid
 * ================================================== */
._2 {
	width:2% !important;
    float:right;
}
._0 {
    width: 0;
    display: inline;
    margin-right:2%;
}
._3 {
    width: 3%;
    display: inline;
    float: right;
}
._4 {
	width:4% !important;
	float:right;
}
._5 {
    width: 3%;
    display: inline;
    float: right;
    /*margin-left: 2%;*/
}
._5_1 {
    width: 3%;
    display: inline;
    float: right;
    margin-left: 2%;
}
._5_2 {
    width: 3%;
    display: inline;
    float: right;
}
._5_3 {
    width: 5%;
    display: inline;
    float: right;
    margin-right:2%;
}
._8 {
    width: 8%;
    display: inline;
    float: right;
}
._10 {
    width: 8%;
    display: inline;
    float: right;
    margin-right: 1%;
}
._10_1 {
    width: 10%;
    display: inline;
    float: right;
}
._10_2 {
    width: 8%;
    display: inline;
    float: right;
    margin-right: 1%;
}
._11 {
    width: 10%;
    display: inline;
    float: right;
    margin-right: 1%;
}
._12 {
    width: 12%;
    display: inline;
    float: right;
}

._15 {
    width: 14%;
    display: inline;
    float: right;
    margin-right: 1%;
}
._15_1 {
    width: 12%;
    display: inline;
    float: left;
    margin-right: 2%;
}
._15_2 {
     width: 14%;
    display: inline;
    float: right;
}
._15_3 {
    width: 15%;
    display: inline;
    float: right;
    margin-right: 1%;
}
._17_1 {
    width: 17%;
    display: inline;
    float: left;
    margin-right: 2%;
}

._17_1 {
    width: 17%;
    display: inline;
    float: left;
    margin-right: 2%;
}
._19 {
    width: 19%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._20 {
    width: 18%;
    display: inline;
    float: right;
    margin-left: 1%;
}
._20_1 {
    width: 20%;
    display: inline;
    float: right;
    margin-left: 1%;
    padding-left: 10px;
}
._20_2 {
    width: 19%;
    display: inline;
    float: right;
    margin-right: 1%;
}
._25 {
    width: 22%;
    display: inline;
    float: right;
    margin-left: 2%;
}
._25_1 {
    width: 23%;
    display: inline;
    float: right;
    margin-right: 2%;
}
._25_2 {
    width: 26% !important;
    margin-right: 0 !important;
}
._25_3 {
    width: 23%;
    display: inline;
    float: right;
    margin-right: 2%;
}
._30 {
    width: 25%;
    display: inline;
    float: right;
}
._30_1 {
    width: 27%;
    display: inline;
    float: right;
    margin-left: 2%;
}
._30_2 {
    width: 24%;
    display: inline;
    float: right;
    margin-left: 5%;
}
._30_3 {
    width: 30%;
    display: inline;
    float: right;
}
._26 {
    width: 26% !important;
    display: inline;
    float: right;
    margin-right: 2% !important;
}
._35 {
    width: 34%;
    display: inline;
    float: left;
    margin-right: 1%;
}
._35_1 {
    width: 35%;
    display: inline;
    float: right;
    margin-left: 1%;
}
._36 {
    width: 34%;
    display: inline;
    float: right;
    margin-right: 2%;
}
._40 {
    width: 40%;
    display: inline;
    float: right;
    /*margin-left: 2%;
    margin-right: 2%;*/
}
._40_1 {
    width: 40%;
    display: inline;
    float: right;
    margin-right: 2%;
}
._40_2 {
    width: 40%;
    display: inline;
    float: right;
}
._40_3 {
    width: 38%;
    display: inline;
    float: right;
    margin-left:2%;
}
._45 {
    width: 41%;
    display: inline;
    float: right;
    /*margin-left: 2%;
    margin-right: 2%;*/
}
._50 {
    width: 46%;
    display: inline;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
._50_1 {
    width: 48%;
    display: inline;
    float: right;
    margin-right: 2%;
}
._50_2 {
    width: 50%;
    display: inline;
}
._50_3 {
    width: 49%;
    display: inline;
    float: right;
    margin-left: 1%;
}
._55 {
    width: 54%;
    display: inline;
    float: right;
    /*margin-left: 2%;*/
}
._60 {
    width: 59%;
    display: inline;
    float: right;
    margin-left: 1%;
}
._60_1 {
    width: 58%;
    display: inline;
    float: right;
    margin-right: 2%;
}
._70 {
    width: 69%;
    display: inline;
    float: left;
    margin-right: 1%;
}
._75 {
    width: 71%;
    display: inline;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
._80 {
    width: 79%;
    display: inline;
    margin-right: 1%;
    float: right;
}
._90 {
    width: 88%;
    display: inline;
    margin-right: 1%;
    float: right;
}
._95 {
    width: 94%;
    display: inline;
    float: right;
}
._100 {
    width: 100%;
    display: inline;
    float: right;
}
._100_1 {
    width: 100%;
    display: inline;
    float: right;
}
input, textarea{
    width: 100%;
}
select { width:100%;}
/* ==================================================
 * 8) Inline Labels
 * ================================================== */.inline-label label, .inline-label .label, .inline-medium-label label, .inline-medium-label .label, .inline-small-label label, .inline-small-label .label, .inline-mini-label label, .inline-mini-label .label {
	float: left;
	display: block;
	padding: 4px 0 0 4px;
}

p.inline-label {
	padding-left: 200px;
}
.inline-label label, .inline-label .label {
	margin-left: -200px;
}

p.inline-medium-label {
	padding-left: 150px;
}
.inline-medium-label label, .inline-medium-label .label {
	margin-left: -150px;
}

p.inline-small-label {
	padding-left: 100px;
}
.inline-small-label label, .inline-small-label .label {
	margin-left: -100px;
}

p.inline-mini-label {
	padding-left: 70px;
}
.inline-mini-label label, .inline-mini-label .label {
	margin-left: -70px;
}

/* ==================================================
 * -- External
 * ================================================== */

/* ==================================================
 * 9) MiniColors
 * ================================================== */

input[type=color] {
	display: none;
}

.opera input[type=color] {
	display: block;
}

.miniColors-trigger {
	height: 22px;
	width: 22px;
	background: url(../img/external/miniColors/trigger.png) center no-repeat;
	vertical-align: middle;
	margin: 10px;
	display: inline-block;
	outline: none;
}

.miniColors-selector {
	position: absolute;
	width: 175px;
	height: 150px;
	background: #FFF;
	border: solid 1px #BBB;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	z-index: 999999;
}

.miniColors-selector.black {
	background: #000;
	border-color: #000;
}

.miniColors-colors {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 150px;
	height: 150px;
	background: url(../img/external/miniColors/gradient.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-hues {
	position: absolute;
	top: 5px;
	left: 160px;
	width: 20px;
	height: 150px;
	background: url(../img/external/miniColors/rainbow.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-colorPicker {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url(../img/external/miniColors/circle.gif) center no-repeat;
}

.miniColors-huePicker {
	position: absolute;
	left: -3px;
	width: 26px;
	height: 3px;
	background: url(../img/external/miniColors/line.gif) center no-repeat;
}

/* ==================================================
 * 10) Chosen
 * ================================================== */

/* @group Base */
.chzn-container {
  font-size: 12px;
  position: relative;
  display: block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single .chzn-single div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  background: #fff url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px;
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  color: #333;
  border: 1px solid #b4b4b4;
  line-height: 13px;
  padding: 3px 19px 3px 6px;
  margin: 3px 0 3px 5px;
  position: relative;
}
.chzn-container-multi .chzn-choices .search-choice span {
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background: #3875d7;
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 20px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
.chzn-rtl { direction:rtl;text-align: right; }
.chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; }
.chzn-rtl .chzn-single div {
  left: 0; right: auto;
  border-left: none; border-right: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius   : 4px 0 0 4px;
  border-radius        : 4px 0 0 4px;
}
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, #ffffff;
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  padding: 4px 5px 4px 20px;
}
/* @end */
.margin_0
{
    margin:0 !important;
}
.margin_top_25
{
        margin-top: 25px;
}
.margin_top_30
{
        margin-top: 30px;
}
.margin_top_20
{
        margin-top: 20px;
}
.margin_top_15
{
        margin-top: 15px;
}
.margin_top_40
{
        margin-top: 40px;
}
.margin_top_50
{
        margin-top: 50px;
}
.margin_top_12
{
        margin-top: 12px;
}
.margin_top_10
{
        margin-top: 10px;
}
.margin_top_7
{
        margin-top: 7px !important;
}
.margin_top_5
{
        margin-top: 5px !important;
}
.margin_top_2
{
        margin-top: 2px !important;
}
.margin_bottom_5
{
       margin-bottom: 5px !important;
}
.margin_top_3
{
        margin-top: 3px;
}
.margin_top_115
{
        margin-top: 115px;
}
.text_align_right
{
       text-align:right !important;
}
.text_align_left
{
       text-align:left !important;
}
._20 checkbox
{
       float:right !important;
}
.right
{
       float:left !important;
}
.left
{
       float:right !important
}
.center
{
       text-align:center;
}
.left_200{
       padding-left:200px;
}
.margin_bottom_10
{
       margin-bottom:10px;
}
.checkbox { margin-right:0px !important;}
.radius
{
       border-radius:0 0 3px 3px;
}
.margin_6 input, textarea {
       margin-top:6px !important;
}
.margin_6 input[type="submit"] {
       height: 27px;
}
.text_align
{
       text-align:right !important;
}
.label_text_align , .amount_text_align
{
       text-align:left !important;
}
.margin_left_0
{
       margin-left:0px !important;
}
.margin_right_0
{
       margin-right:0px !important;
}
.margin_right_2
{
    margin-right:2px !important;
}
.margin_right_3
{
    margin-right:3px !important;
}
.margin_right_3_3 , .margin_right_3_1
{
    margin-right:3% !important;
}
.margin_right_4
{
    margin-right:4% !important;
}
.back_btn
{
       float:right !important;
}
.save_btn
{
       float:left !important;
}
.width_auto
{
       width:auto !important;
}
.border_none
{
       border:none !important;
       box-shadow: 0 0 0 0 rgba(18, 16, 11, 0.13) inset;
}
#chk .checkbox
{
       float:left;
}
#chk1 .checkbox
{
       float:left;
       margin-left: 0px;
}
.margin_left_3
{
       margin-left:3% !important;
}
#rdbtn .radio-button
{
       margin-right: 0;
}
.margin_right_1
{
       margin-right: 1%;
}
.margin_left_1
{
       margin-left: 1%;
}
/*This class is only for the ar*/
.margin_left_01
{
       margin-left: 1%;
}
#margin_left_1 label
{
       margin-left: 1% !important;
}
.margin_left_2
{
       margin-left: 2%;
}
#chk_margin_0 .checkbox
{
       margin-left:0px !important;
}

.chk_margin_0 .checkbox
{
       margin-left:0px !important;
}
.padding_0
{
       padding:0;
}
.fl_right{float:right !important;}
.fl_left {float:left !important;}
#lbl_left_margin_0 .margin_left_zero
{
       margin-left:0;
}

.navigation_button{
       padding: 0px 10px;
}
.navigation_button input {
	padding: 0px 10px;
}
.navigation_button input[type="button"]
{
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    text-align: center;
    width: 40px;
}
#ie_spacer{
      display:none;
}
.space_20{
       min-height:20px;
}
.space_25{
    min-height:26px;
}
.space_50{
       min-height:50px;
}
.space_100{
       height:100px;
}

.space_200{
       height:200px;
}
.space_300{
       height:300px;
}
.box .content {border:none !important;}


.formbutton input[type="button"] {
	display: block;
	/* Setting the height */
	height: 25px;
	line-height: 25px;
	width: auto;
	/* The padding */
	padding: 0 10px;
	/* And the beautiful style */
	border: 1px solid #c7c7c7;
	background: url(../img/sprites/buttons/normal/bg.png);
	border-radius: 5px;
	/* "useful if you don't want a bg color from leaking outside the border" */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* The shadow around */
	-webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
	-moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
	box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
}

._45_1{
    width: 41%;
    display: inline;
    float: left;
    padding: 22px;
}
.label_colan
{
    float:left !important;
}
.margin_right_2_2
{
    margin-right:2% !important;
}
#organization_index_branch ._30_1 {
    margin-left: 0;
}
#modified_60 ._60 {
	margin-right: 1%;
	margin-left: 0;
}
#margin_left_0 ._20_1 { margin-left:0px; }
#margin_left_0 .margin_left_2 { margin-left:2%; }
#organization_route_routesetting2 ._60_1{
    margin-right: 0 !important;
}
#organization_route_routereport ._50
{
    margin-right: 1%;
}
#account_customer_addcustomer ._25_1 , #account_customer_addcustomerset2 ._25_1, #account_customer_addcustomercustomer ._25_1,
#account_transaction_gccollection ._25_1, #account_transaction_hocollection  ._25_1 , #account_notes_addcreditcustomer ._25_1,
#promotion_index_custpromo ._25_1 , #promotion_index_custpromoplan ._25_1 ,#promotion_index_addcustomerpricingheader ._25_1,
#promotion_advance_addpricingplan ._25_1 ,#promotion_advance_addpricingkey ._25_1, #promotion_customer_adddiscountkey ._25_1,
#promotion_customer_adddistributionkey ._25_1 ,#promotion_customer_addauthorise ._25_1
{
    margin-right: 1% !important;
}
#link_index_promoplan ._25_1 , #links_index_pricinglink ._25_1 , #merchandize_index_surveycontrol ._25_1 , #inventory_index_additems ._25_1 ,
#inventory_index_itemset1 ._25_1 , #inventory_transaction_adddailysalesmanload ._25_1 , #inventory_transaction_adddepotdamageexpiry ._25_1,
#inventory_target_addcustomerposlimit ._25_1 , #inventory_transaction_adddepotinventory ._25_1 , #inventory_transaction_addgrn ._25_1
{
    margin-right: 1% !important;
}

#hhctransaction_index_addbeginstock ._25_1 ,#hhctransaction_index_addtransferout ._25_1, #hhctransaction_index_addclosingstock ._25_1 {
    margin-right: 1% !important;
}

._22_populate
{
    display: inline;
    float: right;
    margin-left: 2%;
    width: 22%;
}


.box .header h3{
    margin-right:10px !important;
}
#ar ._20 {
    float: left;
    margin-left: 0;

}
#inventory_index_additems  .margin_top_10 { margin-top:7px; }
#inventory_transaction_additionalitembarcode  ._20_1 {
    margin-left: 1% !important;
    padding-left: 0px;
}

/* start for enquiries report changes */
#enquiries_index_productdetailbylocation ._10_1 , #enquiries_index_productdetailbycustomer ._10_1 , #enquiries_index_routebycustspedr ._10_1,#enquiries_index_routwisesummaryspew ._10_1,#enquiries_index_loctrnsbyprd ._10_1,#enquiries_index_prdtrnsbyloc ._10_1,#enquiries_index_prductivitycoverage ._10_1,#enquiries_index_searchcriteria ._10_1{
    margin-right: 1% !important;
}
#enquiries_index_productdetailbylocation ._45 , #enquiries_index_productdetailbycustomer ._45 , #enquiries_index_routebycustspedr ._45,#enquiries_index_routwisesummaryspew ._45,#enquiries_index_loctrnsbyprd ._45,#enquiries_index_prdtrnsbyloc ._45,#enquiries_index_prductivitycoverage ._45,#enquiries_index_searchcriteria ._45{
    margin-right: 1% !important;
}
#enquiries_index_productdetailbylocation ._20 , #enquiries_index_productdetailbycustomer ._20,#enquiries_index_routebycustspedr ._20,#enquiries_index_routwisesummaryspew ._20,#enquiries_index_loctrnsbyprd ._20,#enquiries_index_prdtrnsbyloc ._20,#enquiries_index_prductivitycoverage ._20,#enquiries_index_searchcriteria ._20 {
    margin-right: 1% !important;
}
#enquiries_index_productdetailbylocation ._10 ,  #enquiries_index_productdetailbycustomer ._10 , #enquiries_index_routebycustspedr ._10,#enquiries_index_routwisesummaryspew ._10,#enquiries_index_loctrnsbyprd ._10,#enquiries_index_prdtrnsbyloc ._10,#enquiries_index_prductivitycoverage ._10,#enquiries_index_searchcriteria ._10{
    margin-right: 1% !important;
}
#enquiries_index_productdetailbycustomer ._40_2 , #enquiries_index_routebycustspedr ._40_2 {
    margin-right: 1% !important;
}

#enquiries_index_productdetailbylocation ._11 , #enquiries_index_productdetailbycustomer ._11 , #enquiries_index_routebycustspedr ._11,#enquiries_index_routwisesummaryspew ._11,#enquiries_index_loctrnsbyprd ._11,#enquiries_index_prdtrnsbyloc ._11,#enquiries_index_prductivitycoverage ._11,#enquiries_index_searchcriteria ._11{
    margin-right: 2% !important;
}
/* end for enquiries report changes */

#checkbox_loop ._20
{
    display: inline;
    float: right;
    margin-top: 10px;
    width: 19%;
}
#inventory_target_addmonthlytarget div.content label._20 , #inventory_target_addregionmonthlytarget div.content label._20 ,
#inventory_target_adddepotmonthlytarget div.content label._20 ,#inventory_target_addsalesmanmonthlytarget div.content label._20
{
    margin-left: 1%;
}
#hhctransaction_index_addarcollection ._5
{
    width:3%;
    margin-right:2%;
}
#promotion_index_custpromorange div._25 , #promotion_index_custpromorange div._20_2
{
    margin-right: 2%;
}

#account_transaction_monthclose ._20 , #datamanagement_index_deletedata ._20 {
    margin-left: 1% !important;
}
#account_transaction_custseq ._15_1{
    float : right !important;
}
#account_transaction_addcustomer ._10_1 {
	margin-left:4%;
}
#for_report_only ._15_1 {
	float : right !important;
}
#for_report_only ._10 {
	margin-right: 0% !important;
}
#for_report_only div._20 {
	margin-left: 0;
	margin-right: 2%;
}
#for_report_only div._36 {
	margin-right:1% !important;
}

#for_report_only .margin_right_3_3 {
	margin-right: 4% !important;
}

#admin_index_index ._20{
    margin-left: 1% !important;
}
#table-showpages ._30{
	width:25%;
	margin-left: 2%;
}
#table-showpages ._20{
	width:27%;
	margin-left: 2%;
}
#table-searchall ._25{
	margin-left: 4%;
	width:20%;
}
#account_index_journeyplan ._36{
	margin-right: 1%;
}
#organization_route_addroute label.margin_left_2_1{
	margin-left:1%;
	margin-right:1%;
}
#organization_route_addroute .margin_right_2{
	margin-right:2% !important;
}
#hhctransaction_index_addinvoice ._15_3{
	width:13%;
}
#hhctransaction_index_addinvoice ._10_2 ,#hhctransaction_index_addinvoice ._15 {
	margin-right:2%;
}
#hhctransaction_index_addinvoice ._25{
	margin-right:1.5%;
}
#hhctransaction_index_addinvoice ._20 {
	margin-left: 3%;
}
#add_monthlytarget_additem ._10{
	margin-left:1%;
}
#add_monthlytarget_additem  ._10_1 {
	margin-left:2%;
	width:9%;
}
#inventory_index_itemset1 ._25{
    margin-left: 0% !important;
}

#promotion_advance_addpricingplan ._20_2 {
    width: 19%;
    display: inline;
    float: right;
    margin-right: 2% !important;
}

#promotion_advance_addpricingplan .margin_right_1 {
    margin-right:2% !important;
}

#promotion_advance_addpricingkey ._25_1 {
    margin-right: 2% !important;
}
#organization_route_addroute label.margin_left_2_1
{
	margin-left:1%;
	margin-right:1%;
}
#organization_route_addroute .margin_right_2
{
	margin-right:2% !important;
}
#admin_security_userpermission ._20 {
	margin-left:0px;
}
.sidebar_img {
	float: right;
    height: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
}
.sidebar_menu_text {
       float: right;
       line-height: 25px;
       padding-right: 5px;
       font-size:12px;
}
#h-menu-events span , #h-menu-settings span , #h-menu-sap span , #h-menu-pages span{
	padding-top:0px !important;
	width: 90.5%;
	float: right;
	padding-bottom: 1px !important;
	height:auto;
}
/* for login*/
#pwd_txt{
	margin-right: 4% !important;
}
.box .login-left {
    float: right;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
	text-align:right;
}
.box .login-right {
    float: left;
    margin-bottom: 5px;
    margin-left: 4%;
}
/**/
#ie7_searchcombo .chzn-container {float:right !important;}
#admin_cpanel_report ._5{ margin-right:2%}
#basic_index_company input {
       width:98%;
}
#account_customer_addcustomer input{
       /*width:96% !important;*/
}
#account_customer_addcustomer textarea{
       width:98% !important;
}
#account_customer_addcustomercustomer ._25_1 { width:24%; }
#content div.box h3 {
    padding-left: 0;
    padding-right: 10px;
}
.edit_12_10 div._10{ margin-right:1%;}
#account_customer_setting2 ._30_1
{
       margin-right:1%;
}
#inventory_transaction_adddailysalesmanload ._5 , #inventory_transaction_adddepotinventory ._5{
       margin-right:4%;
}
#organization_route_addroute ._40_3 {
       margin-left: 1% !important;
}
.checkbox_padding
{
       padding-right:35px !important;
}
#links_promo_promolink ._45 ,#links_promo_pricelink ._45 ,#links_promo_discountlink ._45 ,#links_promo_distributionlink ._45 ,
#links_customer_customercatlink ._45 , #links_customer_surveylink ._45 ,#merchandize_index_linksurvey ._45 ,#links_route_outletitemlink ._45,
#links_route_routeitemlink ._45 ,#links_route_activenonactive ._45 
{
	margin-left: 2%;
    margin-right: 3%;
}
#links_promo_promolink ._15 ,#links_promo_pricelink ._15
{
       width:13% !important;
}
#links_promo_pricelink ._20_2
{
       width:17% !important;
}
#links_promo_discountlink ._15_2 , #links_promo_distributionlink ._15_2 ,#links_route_outletitemlink  ._15
{
       width:15% !important;
}
#links_customer_customercatlink label._30 {
       width:29% !important;
}
#links_customer_customercatlink ._50 ,#links_customer_surveylink ._50 {
       margin-right:2% !important;
}
#links_customer_customercatlink ._20 , #links_customer_surveylink ._20{
       margin-right:0% !important;
       width:16% !important;
}
#links_route_outletitemlink  ._20_2
{
       width:20% !important;
}
#links_route_routeitemlink ._5_2
{
    width:6% !important;
}
#links_route_routeitemlink  ._20_1 {
 
    margin-left: 0% !important;
    padding-left: 0px !important;
    width: 18% !important;
}
#links_route_activenonactive ._30
{
    width:26% !important;
}
#organization_route_addroute fieldset ._23
{
	display: inline;
    float: right;
	width:23% !important;
}
#input_textarea_94 ._36
{
       margin-left:5% !important;
}
#inventory_transaction_addrouteitemgroup ._18
{
       width:18% !important;
       display: inline;
       float:right;
}
#inventory_transaction_addrouteitemgroup ._15
{
       width:14% !important;
       margin-right:0% !important;
}
#inventory_transaction_addrouteitemgroup ._25
{
    margin-right: 1% !important;
	margin-left: 0% !important;
}
#drag_drop ._30{
	margin-right:1% !important;	
}
#drag_drop .customer_name_address
{
    margin-right:1% !important;	      
}
#inventory_transaction_adddailysalesmanload ._13 , #inventory_transaction_adddepotinventory ._13
{
	display: inline;
    float: right;
	margin-left: 1%;
    width: 13%;	
}
.ar_right_1
{
	margin-right: 1% !important;
}
.ar_left_1
{
	margin-left:  1% !important;
}
.ar_right_0
{
	margin-right: 0% !important;
}
.ar_left_0
{
	margin-left:  0% !important;
}
#admin_cpanel_index #costprice ._20 
{
	margin-right:1% !important;
}
#admin_cpanel_index #costprice ._25_1
{
	margin-left:1% !important;
	margin-right: 1% !important;;
}
/*drag_drop*/
#drag_drop .alternate_code {
    float: right !important;
    margin-right: 2% !important;
    width: 12%;
}
#sortable div {
    height: 20px !important;
    vertical-align: middle !important;
}
#drag_drop .sequence {
    float: right !important;
    margin-left: 2% !important ;
    width: 7%;
}

#drag_drop ._30 {
    margin-right: 1% !important;
	width: 30% !important;
}

#drag_drop .customer_name_address {
    margin-right: 1% !important;
}
#drag_drop .customer_name_address {
    float: left !important;
    margin-right: 2% !important;
    width: 44%;
}
/*drag_drop*/
#account_index_outletproduct ._15_1 {
	float:right !important;
}
#account_settlement_addpdc ._20_1 {
	margin-left: 0% !important;
    padding-left: 0px !important;
}
#promotion_advance_addpromotionplan ._12 ,#promotion_discount_adddistributionkey ._12
{
	width:11% !important;	
}
#promotion_customer_addfreegoods ._15_1{
	float:right !important;
}
#links_customer_customercatlink ._35 {
	float:right !important;
}
#inventory_index_additems ._25
{
	margin-left:0;
	margin-right:2% !important;
}

#inventory_index_additems ._25_1 {
	margin-right:0% !important;
}
/* Sales Order Detail 1 */
#hhctransaction_ordertransaction_salesorderadd_detail1 ._17_1 ,._19  {
	float:right !important;
}
#hhctransaction_ordertransaction_salesorderadd_detail1 ._19  {
	float:right !important;
	margin-left: 0% !important;
    width: 18% !important;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  ._15_3 {
    margin-left: 1%;
	margin-right: 0% !important;
    width: 16%;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  #signature_id {
	margin-left: 0 !important;
    width: 24% !important;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  ._15 {    
	margin-right: 0% !important;
    width: 13%;
}
/* Sales Order Detail 2 */
#hhctransaction_ordertransaction_salesorderadd_detail2  .invoice_qty_width_67 ,.invoice_qty_width_150
{
	float:right !important; 
}
/* Sales Order Detail 5 */
#hhctransaction_ordertransaction_salesorderadd_detail5 ._20_1 {
	margin-left: 0% !important;
}
#hhctransaction_transaction_promotiondetailview ._70 {
	float:right !important;
}
#div_signature ._25_1 {
	float: left !important;
}
/* Invoice Detail 1*/
#hhctransaction_transaction_invoiceadd_detail1 ._17_1 ,._19  {
	float:right !important;
}
#hhctransaction_transaction_invoiceadd_detail1 ._19  {
	float:right !important;
	margin-left: 0% !important;
    width: 18% !important;
}
#hhctransaction_transaction_invoiceadd_detail1  ._15_3 {
    margin-left: 1%;
	margin-right: 0% !important;
    width: 16%;
	text-align: left;
}
#hhctransaction_transaction_invoiceadd_detail1  #signature_id {
	margin-left: 0 !important;
    width: 24% !important;
}
#hhctransaction_transaction_invoiceadd_detail1  ._15 {    
	margin-right: 0% !important;
    width: 17%;
}
#hhctransaction_transaction_invoiceadd_detail2  .invoice_qty_width_67 ,.invoice_qty_width_150
{
	float:right !important; 
}
#hhctransaction_transaction_invoiceadd_detail2  ._10
{
	float:left !important; 
}
#hhctransaction_transaction_invoiceadd_detail2 #upc_label {
	margin-left: 2%;
    width: 17%;
}
#hhctransaction_ordertransaction_salesorderadd_detail2 .invoice_margin_right_5
{
	margin-right: 1% !important;
}
#main_content {
	direction: rtl !important;
}
/* -----------------------------------------------------------
	header -> home
----------------------------------------------------------- */

#header #header-inner #home {
    float: right !important;
}
#header #header-inner #quick, #header #header-inner #quick ul {
    float: left !important;    
    margin-left: 0 !important;
    margin-right: 5px !important;
}
#header #header-inner #quick li {
    float: right !important;    
    margin-left: 5px !important;
	margin-right: 0px !important;    
}
#paging_grid .actions-left {
    float: right !important;
}
#paging_grid .box .actions-right {
    float: left !important;
}