/* ==================================================
 * 2a) Header: Toolbar: The large button
 * ================================================== */

.toolbar_large .toolbutton {
	position: relative;
	height: 25px;
	line-height: 25px;
	margin: 6px 0;
	/* The button styling */
	border-radius: 3px;
	border: 1px solid #000;
	/* The shadows */
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	background: url(../img/sprites/toolbar/bg-normal.png);
}

.toolbar_large .toolbutton img {
	margin-top: 2px;
         vertical-align: sub;
}

.toolbar_large .toolcaption:hover {
	background: url(../img/sprites/toolbar/bg-hover.png);
}

.toolbar_large .toolicon, .toolbar_large .toolcaption, .toolbar_large .toolmenu {
	float: left;
}

.toolbar_large .toolicon {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	background: url(../img/sprites/toolbar/divider.png) no-repeat top right;
}

.toolbar_large .toolcaption {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding: 0 5px 0 5px;
}

.toolbar_large .toolcaption span {
	position: relative;
}

/*
 * The menu
 */

.toolbar_large .toolcaption.active {
	background: url(../img/sprites/toolbar/bg-active.png);
	color: #000;
	text-shadow: none;
	border-radius: 0 3px 0 0;
}

.toolbar_large .dropdown {
	position: absolute;
	top: 25px;
	right: -1px;
	background: #fafafa;
	border-radius: 0 0 3px 3px;
	border: 1px solid #343434;
	border-top: none;
	text-align: left;
	padding: 0 4px;
	z-index: 400;
}

.toolbar_large .dropdown ul {
	padding-left: 0px;
        margin: 3px 0 !important;
	/*margin: 2px 0 5px 0;*/
}

.toolbar_large .dropdown li {
	list-style: none;
	height: 24px;
	border: 1px solid #fafafa;
}

.toolbar_large .dropdown a {
	font-size: 13px;
	/*padding-left: 5px;*/
}

.toolbar_large .dropdown li:hover, .toolbar_large .dropdown li:active {
	background: #000;
	border: 1px solid #232323;
	border-radius: 3px;
	background-image: url(../img/sprites/toolbar/bg-menu-hover.png);
	/* The inset shadow */
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.24);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.24);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.24);
}

.langname{
    float: right;
    margin-top: 10px;
    margin-right: 30px;
} 