/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 *
 * ================
 *   Form Styling
 * ================
 *
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 *
 *  1) General Styling
 *  2) Alternative Styling
 *  3) Placeholders
 *  4) Filedsets
 *  5) Checkboxes
 *  6) Radio Buttons
 *  7) Form Grid
 *  8) Inline Labels
 *  -- External
 *  9) MiniColors
 * 10) Chosen
 */

/* ==================================================
 * 1) General Styling
 * ================================================== */
input [type=text]{
       height:16px;
}
 input, textarea {
	background: #fff;
	display: block;
	margin: 5px 0 0 0;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	padding: 5px 0;
	width: 400px;    
	/* Inset shadow */
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
	-moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
	box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13);
        text-align:left !important;

}

.input {
	margin: 10px 0;
}

input[type=text]:hover, input[type=text]:active, input[type=text]:focus, textarea:hover, textarea:active, textarea:focus {
	border: 1px solid #a3a3a3;
}

input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus  {
       -webkit-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
       -moz-box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
       box-shadow: inset 0px 2px 3px 0px rgba(18, 16, 11, 0.13), 0px 0px 5px 0px rgba(58, 111, 163, 0.75);
}

label, .label, .chzn-container {
    display: block;
/*    margin-bottom: 1px;*/
}

.chzn-container {
	margin-top: 5px;
}

input.error, textarea.error {
	box-shadow: none;
	border-radius: 5px 5px 0 0;
	border: 1px solid #870d0d;
	margin-bottom: 0;
}

label.error.red {
	position: relative;
	top: -1px;
	padding: 5px 5px 5px 10px;
	margin: 0 0 10px 0;
	display: block;
	border-radius: 0 0 5px 5px;
	border: 1px solid #870d0d;
	/* The red gradient + white inset shadow*/
	background: url(../img/sprites/forms/bg-error.png) repeat-x #b13636;
}

/* ==================================================
 * 2) Alternative Style
 * ================================================== */

form .section {
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #fff;
	margin: 0;
	width: 100%;
	/* The gradient */
	background: rgb(246,246,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
	background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

form .section:last-child {
	border-bottom: none;
}

form .section > label, form .section > .label {
	margin-top: 12px;
	margin-left: 10px;
	float: left;
	width: 16%;
}

form .section > div {
	border-left: 1px solid #E7E7E7;
	float: right;
	width: 75%;
	padding: 0 1%;
	padding-right: 10px;
}/* ==================================================
 * 3) Placeholders
 * ================================================== */

::-webkit-input-placeholder {
	margin-left: 5px;
}

/* ==================================================
 * 4) Fieldsets
 * ================================================== */

form fieldset {
	border: 1px solid #d2d2d2;
	border-radius: 3px 3px 3px 3px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

form fieldset p.inline-label, form fieldset p.inline-medium-label, form fieldset p.inline-small-label {
	padding-right: 0;
}

form fieldset legend {
	background: url(../img/sprites/forms/bg-legend.png) repeat-x scroll top left #dcdcdc;
	padding: 5px 10px;
	line-height: 16px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	border-radius: 5px 5px 5px 5px;
}

/* ==================================================
 * 5) Checkboxes
 * ================================================== */
.checkbox {
	margin-right: 10px;
	width: auto;
	box-shadow: none;
}

.checkbox img {
	height: 18px;
	width: 18px;
        margin-top:6px;
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/normal.png) no-repeat;
}

/* Unchecked */

.checkbox-hover img {
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/hover.png) no-repeat;
}

.checkbox-disabled img {
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/disabled.png) no-repeat;
}

.checkbox-clicked img {
	background: transparent url(../img/sprites/forms/checkboxes/unchecked/clicked.png) no-repeat !important;
}

/* Checked */
.checkbox-checked img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/normal.png) no-repeat;
}

.checkbox-checked .checkbox-hover img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/hover.png) no-repeat;
}

.checkbox-checked .checkbox-clicked img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/clicked.png) no-repeat !important;
}

.checkbox-checked .checkbox-disabled img {
	background: transparent url(../img/sprites/forms/checkboxes/checked/disabled.png) no-repeat;
}

/* ==================================================
 * 6) Radio Buttons
 * ================================================== */

.radio-button {
	margin-right: 10px;
	width: auto;
	box-shadow: none;
}

.radio-button img {
	height: 18px;
	width: 18px;
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/normal.png) no-repeat;
}

/* Unchecked */
.radio-button-hover img {
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/hover.png) no-repeat;
}

.radio-button-disabled img {
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/disabled.png) no-repeat;
}

.radio-button-clicked img {
	background: transparent url(../img/sprites/forms/radio-buttons/unchecked/clicked.png) no-repeat !important;
}

/* Checked */
.radio-button-checked img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/normal.png) no-repeat;
}

.radio-button-checked .radio-button-hover img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/hover.png) no-repeat;
}

.radio-button-checked .radio-button-clicked img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/clicked.png) no-repeat !important;
}

.radio-button-checked .radio-button-disabled img {
	background: transparent url(../img/sprites/forms/radio-buttons/checked/disabled.png) no-repeat;
}

/* ==================================================
 * 7) Form Grid
 * ================================================== */
._0 {
    width: 0;
    display: inline;
    margin-left:2%;
}
._2 {
	width:2% !important;
    float:left;
}
._4 {
	width:4% !important;
	float:left;
}
._3 {
    width: 3%;
    display: inline;
    float: left;
}
._5 {
    width: 3%;
    display: inline;
    float: left;
    margin-left: 2%;
}
._5_1 {
    width: 3%;
    display: inline;
    float: left;
    margin-right: 2%;
}
._5_2 {
    width: 3%;
    display: inline;
    float: left;
}
._5_3 {
    width: 5%;
    display: inline;
    float: left;
    margin-left:2%;
}
._8 {
    width: 8%;
    display: inline;
    float: left;
}
._10 {
    width: 8%;
    display: inline;
    float: left;
    margin-left: 2%;
}
._10_1 {
    width: 10%;
    display: inline;
    float: left;
}
._10_2 {
    width: 8%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._11 {
    width: 10%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._12 {
    width: 12%;
    display: inline;
    float: left;
}
._15 {
    width: 14%;
    display: inline;
    float: left;
    margin-left: 1%;
}

._15_1 {
    width: 12%;
    display: inline;
    float: left;
    margin-right: 2%;
}
._15_2 {
     width: 14%;
    display: inline;
    float: left;

}
._15_3 {
    width: 15%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._17_1 {
    width: 17%;
    display: inline;
    float: left;
    margin-right: 2%;
}
._19 {
    width: 19%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._20 {
    width: 18%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._20_1 {
    width: 20%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._20_2 {
    width: 19%;
    display: inline;
    float: left;
    margin-right: 1%;
}
._25 {
    width: 22%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._25_1 {
    width: 24%;
    display: inline;
    float: left;
    margin-right: 1%;
}
._25_3 {
    width: 23%;
    display: inline;
    float: left;
    margin-left: 2%;
}
._30 {
    width: 25%;
    display: inline;
    float: left;
}
._30_1 {
    width: 27%;
    display: inline;
    float: left;
    margin-left: 5px;;
}
._30_2 {
    width: 25%;
    display: inline;
    float: left;
    margin-left: 4%;
}
._30_3 {
    width: 30%;
    display: inline;
    float: left;
}
._35 {
    width: 34%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._35_1 {
    width: 35%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._36 {
    width: 34%;
    display: inline;
    float: left;
    margin-left: 2%;
}
._40 {
    width: 40%;
    display: inline;
    float: left;
    /*margin-left: 2%;
    margin-right: 2%;*/
}
._40_1 {
    width: 40%;
    display: inline;
    float: left;
    margin-right: 2%;
}
._40_2 {
    width: 40%;
    display: inline;
    float: left;
}
._40_3 {
    width: 38%;
    display: inline;
    float: left;
}
._45 {
    width: 41%;
    display: inline;
    float: left;
    /*margin-left: 2%;
    margin-right: 2%;*/
}
._50 {
    width: 46%;
    display: inline;
    float: left;
    margin-left: 1%;
    /*margin-right: 2%;*/
}
._50_3 {
    width: 49%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._55 {
    width: 54%;
    display: inline;
    float: left;
    /*margin-left: 2%;    */
}
._60 {
    width: 59%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._60_1 {
    width: 59%;
    display: inline;
    float: right;
    margin-left: 1%;
}
._70 {
    width: 69%;
    display: inline;
    float: left;
    margin-left: 1%;
}
._50_1 {
    width: 48%;
    display: inline;
    float: left;
    margin-left: 2%;
}
._50_2 {
    width: 50%;
    display: inline;
}
._75 {
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._80 {
    width: 79%;
    display: inline;
    margin-left: 1%;
    float: left;
}
._90 {
    width: 88%;
    display: inline;
    margin-left: 1%;
    float: left;
}
._95 {
    width: 94%;
    display: inline;
    float: left;
}
._100 {
    width: 100%;
    display: inline;
    float: left;
}
._100_1 {
    width: 100%;
    display: inline;
    float: right;
}
input, textarea{
    width: 100%;
}
select { width:100%;}
/* ==================================================
 * 8) Inline Labels
 * ================================================== */.inline-label label, .inline-label .label, .inline-medium-label label, .inline-medium-label .label, .inline-small-label label, .inline-small-label .label, .inline-mini-label label, .inline-mini-label .label {
	float: left;
	display: block;
	padding: 4px 0 0 4px;
}

p.inline-label {
	padding-left: 200px;
}
.inline-label label, .inline-label .label {
	margin-left: -200px;
}

p.inline-medium-label {
	padding-left: 150px;
}
.inline-medium-label label, .inline-medium-label .label {
	margin-left: -150px;
}

p.inline-small-label {
	padding-left: 100px;
}
.inline-small-label label, .inline-small-label .label {
	margin-left: -100px;
}

p.inline-mini-label {
	padding-left: 70px;
}
.inline-mini-label label, .inline-mini-label .label {
	margin-left: -70px;
}

/* ==================================================
 * -- External
 * ================================================== */

/* ==================================================
 * 9) MiniColors
 * ================================================== */

input[type=color] {
	display: none;
}

.opera input[type=color] {
	display: block;
}

.miniColors-trigger {
	height: 22px;
	width: 22px;
	background: url(../img/external/miniColors/trigger.png) center no-repeat;
	vertical-align: middle;
	margin: 10px;
	display: inline-block;
	outline: none;
}

.miniColors-selector {
	position: absolute;
	width: 175px;
	height: 150px;
	background: #FFF;
	border: solid 1px #BBB;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	z-index: 999999;
}

.miniColors-selector.black {
	background: #000;
	border-color: #000;
}

.miniColors-colors {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 150px;
	height: 150px;
	background: url(../img/external/miniColors/gradient.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-hues {
	position: absolute;
	top: 5px;
	left: 160px;
	width: 20px;
	height: 150px;
	background: url(../img/external/miniColors/rainbow.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-colorPicker {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url(../img/external/miniColors/circle.gif) center no-repeat;
}

.miniColors-huePicker {
	position: absolute;
	left: -3px;
	width: 26px;
	height: 3px;
	background: url(../img/external/miniColors/line.gif) center no-repeat;
}

/* ==================================================
 * 10) Chosen
 * ================================================== */

/* @group Base */
.chzn-container {
  font-size: 12px;
  position: relative;
  display: block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 801;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius   : 4px;
  border-radius        : 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single .chzn-single div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius   : 0 4px 4px 0;
  border-radius        : 0 4px 4px 0;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  background: #fff url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px;
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
  color: #333;
  border: 1px solid #b4b4b4;
  line-height: 13px;
  padding: 3px 19px 3px 6px;
  margin: 3px 0 3px 5px;
  position: relative;
}
.chzn-container-multi .chzn-choices .search-choice span {
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background: #3875d7;
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 20px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
.chzn-rtl { direction:rtl;text-align: right; }
.chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; }
.chzn-rtl .chzn-single div {
  left: 0; right: auto;
  border-left: none; border-right: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius   : 4px 0 0 4px;
  border-radius        : 4px 0 0 4px;
}
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, #ffffff;
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  background: url('../img/external/chosen/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
  padding: 4px 5px 4px 20px;
}
/* @end */
.margin_0
{
       margin:0 !important;
}
.margin_top_25
{
        margin-top: 25px;
}
.margin_top_30
{
        margin-top: 30px;
}
.margin_top_40
{
        margin-top: 40px;
}
.margin_top_50
{
        margin-top: 50px;
}
.margin_top_20
{
        margin-top: 20px;
}
.margin_top_15
{
        margin-top: 15px;
}
.margin_top_12
{
        margin-top: 12px;
}
.margin_top_10
{
        margin-top: 10px;
}
.margin_top_7
{
        margin-top: 7px !important;
}
.margin_top_5
{
        margin-top: 5px !important;
}
.margin_top_2
{
        margin-top: 2px !important;
}
.margin_top_115
{
        margin-top: 115px;
}
.margin_bottom_5
{
       margin-bottom: 5px !important;
}
.margin_top_3
{
        margin-top: 3px;
}
.text_align_right
{
       text-align:right !important;
}
.text_align_left
{
       text-align:left !important;
}
._20 input[type="checkbox"]{
       float:right !important;
       width:auto !important;
}
.right
{
       float:right !important;
}
.left
{
       float:left !important
}
.center
{
       text-align:center;
}
.left_200{
       padding-left:200px;
}
.margin_bottom_10
{
       margin-bottom:10px;
}
.checkbox { margin-right:0px !important;}
.radius
{
       border-radius:0 0 3px 3px;
}
.margin_6 input, textarea {
       margin-top:6px !important;
}
.margin_6 input[type="submit"] {
       height: 27px;
}
.text_align
{
       text-align:left !important;

}
.label_text_align , .amount_text_align
{
       text-align:right !important;
}
.margin_left_0
{
       margin-left:0px !important;
}
.margin_right_0
{
       margin-right:0px !important;
}
.margin_right_2
{
       margin-right:2px !important;
}
.margin_right_3
{
       margin-right:3px !important;
}
.margin_right_3_3
{
       margin-right:3% !important;
}
.margin_left_1
{
       margin-left:1% !important;
}
.margin_left_2
{
       margin-left:2% !important;
}
.back_btn
{
       float:left !important;
}
.save_btn
{
       float:right !important;
}
.width_auto
{
       width:auto !important;
}
.border_none
{
       border:none !important;
       box-shadow: 0 0 0 0 rgba(18, 16, 11, 0.13) inset;
}

#chk .checkbox
{
       float:right;
}
#margin_left_0 .margin_5px {margin-left:5px !important;}

.navigation_button{
    padding: 0px 10px;
}
.navigation_button input {
	padding: 0px 10px;
}
.navigation_button input[type="button"]
{
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    text-align: center;
    width: 40px;
}


#ie_spacer{
    display:none;
}
.space_20{
    min-height:20px;
}
.space_25{
    min-height:26px;
}
.space_50{
    min-height:50px;
}
.space_100{
    height:100px;
}
.space_200{
    height:200px;
}
.space_300{
       height:300px;
}
.box .content {border:none !important;}

.formbutton input[type="button"] {
	display: block;
	/* Setting the height */
	height: 25px;
	line-height: 25px;
	width: auto;
	/* The padding */
	padding: 0 10px;
	/* And the beautiful style */
	border: 1px solid #c7c7c7;
	background: url(../img/sprites/buttons/normal/bg.png);
	border-radius: 5px;
	/* "useful if you don't want a bg color from leaking outside the border" */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* The shadow around */
	-webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
	-moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
	box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
}

._45_1{
    width: 41%;
    display: inline;
    float: left;
    padding: 22px;
}
.label_colan
{
    float:right !important;
}
.margin_left_3_1
{
    margin-left:3%;
}
.margin_right_2_2
{

}

.box .header h3{
       margin-left:5px !important;
}
#checkbox_loop ._20
{
    display: inline;
    float: left;
    margin-top: 10px;
    width: 19%;
}
#en_margin_right
{
       margin-left:0px;
}
.arb_text_align
{
    text-align:right !important;
}


#for_report_only div._36 {
	margin-left:1% !important;
}
#for_report_only ._10 {
	margin-left: 0% !important;
}
#table-showpages ._30
{
	width:25%;
	margin-right: 2%;
}
#account_index_journeyplan ._36{
	margin-left: 1%;
}
.sidebar_img {
    float: left;
    height: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
}
.sidebar_menu_text {
       float: left;
       line-height: 25px;
       padding-left: 5px;
       font-size:12px;
}
#h-menu-events span , #h-menu-settings span , #h-menu-sap span , #h-menu-pages span{
	padding-top:0px !important;
	width: 90.5%;
	float: left;
	padding-bottom: 1px !important;
	height:auto;
}
/*#organization_index_country input[type="text"] ,#organization_index_region input[type="text"] ,#organization_index_area input[type="text"],
#organization_index_subarea input[type="text"] ,#account_customer_custcat input[type="text"] ,#account_index_outletproduct input[type="text"],
#account_customer_addmessage input[type="text"] ,#account_index_addsalesman input[type="text"] , #account_index_addsalesmanmsgs input[type="text"],
#account_index_journeyplan input[type="text"] ,#account_transaction_openingbal input[type="text"] ,#admin_security_adduser input[type="text"],
#admin_security_adduser input[type="password"] ,#basic_index_company input[type="text"],#basic_index_salesmanager input[type="text"],
#basic_index_regionmanager input[type="text"],#basic_index_depotmanager input[type="text"],#basic_index_areamanager input[type="text"],
#basic_index_supervisor input[type="text"], #basic_index_streetmanager input[type="text"],#basic_index_bank input[type="text"],
#basic_index_cashdesc input[type="text"] ,#inventory_index_addcompanygroup input[type="text"],#inventory_index_majorcat input[type="text"],
#inventory_index_submajorcat input[type="text"],#inventory_index_additemgrp input[type="text"],#inventory_transaction_addbusiness input[type="text"],
#inventory_target_additempackage input[type="text"],#inventory_target_addquota input[type="text"],#inventory_target_addpos input[type="text"]
{
	width:99% !important;
}*/
/* for login*/
.box .login-left {
    float: left;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
	text-align:left;
}
.box .login-right {
    float: left;
    margin-bottom: 5px;
    margin-right: 4%;
}
/**/
#ie7_searchcombo .chzn-container {float:left !important;}
#account_transaction_index ._15_1 ,#account_transaction_salescalender ._40_1 {
       margin-right:1%;
}
.edit_12_10 div._10{ margin-left:1% !important;}
#account_customer_setting2 ._30_1
{
       margin-left:1%;
}
#inventory_transaction_adddailysalesmanload ._5 , #inventory_transaction_adddepotinventory ._5{
	margin-left:4%;
}
#drag_drop  .margin_left_4 { margin-left:4% !important;}

.checkbox_padding
{
       padding-left:35px !important;
}
#links_promo_promolink ._45 ,#links_promo_pricelink ._45 ,#links_promo_discountlink ._45 ,#links_promo_distributionlink ._45 ,
#links_customer_customercatlink ._45 , #links_customer_surveylink ._45 ,#merchandize_index_linksurvey ._45 ,#links_route_outletitemlink ._45,
#links_route_routeitemlink ._45 ,#links_route_activenonactive ._45 
{
       margin-left: 3%;
       margin-right: 2%;
}
#links_promo_promolink ._15 ,#links_promo_pricelink ._15 ,#links_route_outletitemlink  ._15
{
       width:15% !important;
}
#links_promo_discountlink ._15_2
{
       width:17% !important;
}
#links_promo_pricelink ._12
{
       width:12% !important;
}
#links_customer_customercatlink label._30 {
       width:29% !important;
}
#links_route_outletitemlink label._30 {
       width:28% !important;
}
#links_customer_customercatlink ._50 ,#links_customer_surveylink ._50 {
       margin-left:2% !important;
}
#links_customer_customercatlink ._20 , #links_customer_surveylink ._20 , #links_promo_distributionlink ._15_2{
       margin-left:0% !important;
       width:16% !important;
}
#links_route_outletitemlink  ._20_2
{
       width:20% !important;
}
#links_route_routeitemlink ._5_2
{
       width:6% !important;
}
#links_route_activenonactive ._30
{
       width:26% !important;
}
#organization_route_addroute fieldset ._23
{
	display: inline;
    float: left;
	width:23% !important;
}
#input_textarea_94 ._36
{
       margin-left:5% !important;
}
#inventory_transaction_addrouteitemgroup ._15
{
       width:14% !important;
       margin-left:0% !important;
}
#inventory_transaction_addrouteitemgroup ._18
{
       width:18% !important;
       display: inline;
       float:left;
}
#drag_drop ._30{
	margin-left:1% !important;	
}
#drag_drop .customer_name_address
{
       margin-left:1% !important;	      
}
#inventory_transaction_adddailysalesmanload ._13 ,#inventory_transaction_adddepotinventory ._13
{
	display: inline;
    float: left;
    margin-right: 1%;
    width: 13%;	
}
#admin_security_pwdgenerate  ._25_3 {
       margin-left: 1% !important;
}

/*drag_drop*/
#drag_drop .alternate_code {
    float: left;
    margin-left: 2%;
    width: 12%;
}
#sortable div {
    height: 20px !important;
    vertical-align: middle !important;
}

#drag_drop .sequence {
    float: left;
    margin-left: 2%;
    width: 7%;
}

#drag_drop ._30 {
    margin-left: 1% !important;
    width: 30% !important;
}

#drag_drop .customer_name_address {
    margin-left: 1% !important;
}
#drag_drop .customer_name_address {
    float: left;
    margin-left: 2%;
    width: 44%;
}
/*drag_drop*/
#inventory_index_additems ._25
{
	margin-left:0;
	margin-right:0;
}
#inventory_index_itemset1 ._25
{
    margin-left: 0% !important;
	margin-right: 1% !important;
    width: 24% !important;
}
/* Sales Order Detail 1 */
#hhctransaction_ordertransaction_salesorderadd_detail1 ._17_1 {
	margin-right: 1% !important;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  ._15_3 { 
    width: 16%;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  #signature_id {
	margin-left: 0 !important;
    width: 24% !important;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  ._25_1 {    
    width: 26%;
}
#hhctransaction_ordertransaction_salesorderadd_detail1  ._5 {
    margin-left: 0;
    width: 0;
}
#hhctransaction_transaction_invoiceadd_detail2  ._10
{
	float:right !important; 
}
#report_basic_commstatus ._40_1 {
	margin-right: 1% !important;
}